# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
tfplan
*.tfplan
.terraform.lock.hcl

# Docker
*.log
dist/
build/

# Node/npm (voor evt. frontend tooling)
node_modules/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.env
secrets.yaml
